//- Including
include ../components/carousel
include ../components/icons

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description",content="")
    meta(name="author",content="")
    //link(rel="icon",href="../../favicon.ico")
    title= title
    block styles
      link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
      link(href="../stylesheets/carousel.css", rel="stylesheet")
  body(data-spy="scroll",data-target=".scrollspy")
      
    block body
      .navbar-wrapper
        .container
          nav.navbar.navbar-inverse.navbar-static-top
            .container
              .navbar-header
                button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                  
                a(class="navbar-brand", href="/") @Cloud
              #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                  li
                    a(href="/#{stage}/tech") Tech
                  li
                    a(href="/#{stage}/blog") Blog
                  li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-expanded='false')
                      | My Alexa Project 
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='/#{stage}/textme') TextMe
                      li
                        a(href='#') WeatherMe
                      li
                        a(href='#') TrainMe
                      li.divider
                      li.dropdown-header Nav header
                      li
                        a(href='#') WineMe
                  li
                    a(href="/#{stage}/aboutme") About Me


        .container
          block content
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

